@import url("variables.css");
@media screen and (max-width: 1100px) {
    .container {
        flex-direction: row;
    }
    .card {
        width: 30%
    }
    .card-header {
        font-size: 30%;
    }
  }
@media screen and (max-width: 800px) {
    .container {
        flex-direction: row;
    }
    .card {
        width: 40%
    }
    .card-header {
        font-size: 75%;
    }
  }
@media screen and (max-width: 600px) {
    .container {
        flex-direction: row;
    }
    .card{
        width: 70%
    }
    .card-header {
        font-size: 50%;
    }
  }
@media screen and (max-width: 400px) {
    .contianer {
        flex-direction: column;
    }
    .card {
        width: 80%
    }
    .card-header {
        font-size: 25%;
    }
  }
html,
body
{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: "Sniglet", serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-family: "DynaPuff", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    
}