@import url("variables.css");
@media screen and (max-width: 1100px) {
    .container {
        flex-direction: row;
    }
    .card {
        width: 30%
    }
    .card-header {
        font-size: 30%;
    }
  }
@media screen and (max-width: 800px) {
    .container {
        flex-direction: row;
    }
    .card {
        width: 40%
    }
    .card-header {
        font-size: 75%;
    }
  }
@media screen and (max-width: 600px) {
    .container {
        flex-direction: row;
    }
    .card{
        width: 70%
    }
    .card-header {
        font-size: 50%;
    }
  }
@media screen and (max-width: 400px) {
    .contianer {
        flex-direction: column;
    }
    .card {
        width: 80%
    }
    .card-header {
        font-size: 25%;
    }
  }
html,
body
{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}
h1{
    font-family: "Cherry Bomb One", serif;
    font-family: "Fjalla One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    padding: 0;
    margin: 1rem;
    text-align: center;
}
h4{
    font-family: "Cherry Bomb One", serif;
    font-family: "Fjalla One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding: 0;
    margin: 5px;
    text-align: center;
}
.btn{
    text-align: center;
    align-items: center;
    margin: 10px;
}
#btn{
    font-size: 2rem;
    background-color: var(--secondary);
    color: black;
    border: 3px solid var(--secondary);
    border-radius: 8px;
    padding: 15px;
    font-weight: 700;
    color: rgb(92, 92, 92);
}
input{
    border: 3px solid var(--secondary);
    background-color: white;
    color: rgb(92, 92, 92);
    caret-color: transparent;
    text-align: center;
    font-size: 3rem;
    padding: 5px;
    margin: 10px;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 700;
}
.container{
    display: flex;
    justify-content: center;
}
.row{
    display:flex;
    justify-content: center;
    padding: 1;
}
.correct{
    background-color: var(--correct);
}
.present{
    background-color: var(--present);
}
.incorrect{
    background-color: var(--incorrect);
}
.testcorrect{
    background-color: var(--correct);
}
.testpresent{
    background-color: var(--present);
}
.testincorrect{
    background-color: var(--incorrect);
}